html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    width: 210mm;
    height: 297mm;
}

body {
    margin: 0;
    padding: 0;
    width: 210mm;
    height: 297mm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

b {
    font-weight: 600;
}

summary {
    font-size: 10pt;
}

body > * {
    padding: 0 0.7cm 0 0.7cm;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    background-color: rgb(235, 235, 235);

}

header {
    padding-top: 0.1cm;
    padding-bottom: 0.2cm;
}

.info {
	text-align: right;
	margin-top: 0.4cm;
	color: #444;
	font-style: italic;
}

h1 {
    font-size: 16pt;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0.3cm;
}

header h1 {
    font-size: 32pt;
    margin-right: 0.2cm;
    font-weight: bolder;
}

header h3 {
    font-weight: normal;
}

header h2 {
    font-weight: normal;
    font-size: medium;
    font-style: italic;
    position: relative;
    bottom: 0.15cm;
}

header h1, header h2, header h3 {
    display: inline;
}

td {
    vertical-align: top;
	padding-bottom: 0.15cm;
}

table.tight td {
	padding-bottom: 0;
}

table {
	line-height: 1.5;
}

table.dates {
    border-collapse: separate;
    border-spacing: 0;
}

table.dates td:first-child {
	padding-right: 0.5cm;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.horizontal > * {
    flex-grow: 1;
}

footer {
    font-style: italic;
    padding-top: 0.2cm;
    padding-bottom: 0.3cm;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex > div {
    flex-grow: 1;
    flex-basis: 0;
}

.flex .spacer {
    flex-grow: 0.2;
}

table {
    width: 100%;
    border-spacing: 0 0.1cm;
}

footer table {
    border-spacing: 0 0.1cm;
    width: 100%;
}

hr {
    border-style: none;
    border-top: 1px solid lightgrey;
}